<div class="messages-box">
  <div class="list-group rounded-0">

    <a class="list-group-item list-group-item-action rounded-0" style="cursor: pointer">
      <div class="media">
        <div class="media-body ml-4">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <h6 class="mb-0 text-muted font-weight-light">Group Chat</h6>
          </div>
        </div>
      </div>
    </a>
    <a class="list-group-item list-group-item-action rounded-0" style="cursor: pointer">
      <div class="media">
        <img src="http://lorempixel.com/100/100/people" alt="user" width="50" class="rounded-circle">
        <div class="media-body ml-4">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <h6 class="mb-0">User One</h6><small class="small font-weight-bold">22-3-2021</small>
          </div>
          <p class="font-italic mb-0 text-small">User@gmail.com</p>
        </div>
          <span class="right badge badge-danger">New</span>
      </div>
    </a>


  </div>
</div>
