<!-- general form elements -->
<div class="container-fluid">
    <div class="content-header">
        <h1>New Admin</h1>
    </div>
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Add New Admin</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
                <div class="form-group">
                    <label class="col-form-label" for="inputNameSuccess">Name</label>
                    <input class="form-control"
                           [ngClass]="{'is-invalid': uploadForm.get('name').errors &&
                           (uploadForm.get('name').touched || uploadForm.get('name').dirty)}"
                           type="text"
                           name="name"
                           id="inputNameSuccess"
                           formControlName="name"
                           placeholder="Type The Name">
                    <span class="invalid-feedback" *ngIf="uploadForm.get('name').errors?.required">Name Field Is Required</span>                      
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email"
                           [ngClass]="{'is-invalid': uploadForm.get('email').errors &&
                           (uploadForm.get('email').touched || uploadForm.get('email').dirty)}"
                           name="email"
                           formControlName="email"
                           id="exampleInputEmail1"
                           class="form-control"
                           placeholder="Type The Email">
                    <span class="invalid-feedback" *ngIf="uploadForm.get('email').errors?.required">Email Field Is Required</span>
                    <span class="invalid-feedback" *ngIf="uploadForm.get('email').errors?.email">Please enter a vaild email address</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" 
                           [ngClass]="{'is-invalid': uploadForm.get('password').errors &&
                           (uploadForm.get('password').touched || uploadForm.get('password').dirty)}"
                           name="password"
                           formControlName="password"
                           class="form-control" 
                           id="exampleInputPassword1" 
                           placeholder="Type Your Password">
                    <span class="invalid-feedback" *ngIf="uploadForm.get('password').errors?.required">Password Field Is Required</span>
                    <span class="invalid-feedback" *ngIf="uploadForm.get('password').errors?.minlength">Password Must Be Greater Than 3</span>       
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid || isSubmited">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>