<div class="sticky-wrapper">
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" routerLink="/"><img src="../../../../../assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">

                            <li *ngFor="let menuItem of header_main_menu" class="nav-item submenu" [class.dropdown]="menuItem?.children">

                                <a [routerLink]="menuItem?.link" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">{{menuItem?.title}}</a>
                            
                                <ul class="dropdown-menu" *ngIf="menuItem?.children">
                                    <li class="nav-item" *ngFor="let childrenItem of menuItem?.children">
                                        <a class="nav-link" [routerLink]="childrenItem?.link">{{childrenItem?.title}}</a>
                                    </li>
                                </ul>

                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a href="#" class="cart">
                                    <i class="fa fa-shopping-basket fa-fw"></i>
                                </a>
                            </li>
                            <li class="nav-item" (click)="checkSearchWidth()">
                                <button class="search" (click)="show = !show">
                                    <i class="fa fa-search fa-fw"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input search-start-height" id="search_input_box" *ngIf="!show" [@grow]>
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <i class="fa fa-times" aria-hidden="true" id="close_search" (click)="show = !show" title="Close Search"></i>
                </form>
            </div>
        </div>
    </header>
</div>
